<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="button" id="btn" value="12"/>
<h3>test</h3>
<div id="block"></div>

<div id="app"></div>

</body>
<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/model.js"></script>
<script src="js/view.js"></script>
<script src="js/collection.js"></script>
<script src="js/main.js"></script>
<script>
    $(function () {
        let model = new MyModel();
        let view = new MyView({
            model,
            el: '#block'
        })
    })
</script>
<script type="text/template" id="tplBlock">
    <%= name %>
    <div>
        <input type="button" id="add" value="+"/>
        value: <%= value %>
        <input type="button" id="remove" value="-"/>
    </div>
    <button class="del">x</button>
</script>

</html>