<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="button" id="btn" value="12"/>
<h3>test</h3>
<div id="block"></div>

<div id="app"></div>

</body>
<script src="jquery.js"></script>
<script src="underscore.js"></script>
<script src="backbone.js"></script>
<script src="model.js"></script>
<script src="viewRow.js"></script>
<script src="viewApp.js"></script>
<script src="main.js"></script>
<script type="text/template" id="tplBlock">
    <%= name %>
    <div>
        <input type="button" id="add" value="+"/>
        value: <%= value %>
        <input type="button" id="del" value="-"/>
    </div>
    <button class="del">x</button>
</script>

<script type="text/template" id="appTpl">
    !!!
    <button class="addRow">+</button>
    <div class="rowList"></div>
</script>

</html>